/* inicio da sessão habilidades */
.skills {
    padding: 20px 4%;
    margin-bottom: 80PX;
}

.skills .flexivel {
    justify-content: space-between;
    padding: 10px 0%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.skills h3 {
    font-size: 1rem;
    
}

.skills .projetos {
    max-height: 100px;
    max-width: 150px;
    cursor: default;
}
.skills i{
    padding-top: 15px;
}








