@media screen and (max-width: 968px) {
    header {
        padding: 20px 0%;
    }

    .menu_desktop li a {
        margin: 0 10px;
    }

    .logo p {
        font-size: 1.8rem;
    }

    .btn_contatos button {
        font-size: 1rem;
        padding: 7PX 20PX;
    }

    .corpo {
        padding: 80px 4%
    }

    .img_sobre {
        max-width: 600px;
        min-width: 100px;
    }

    .img_sobre img {
        min-width: 300px;
    }

    .interface .flexivel {
        gap: 50px;
    }

    .corpo .flexivel {
        gap: 20px;
    }

    .label h1 {
        font-size: 2rem;
    }

    .label p {
        font-size: 1.5rem;
    }

    .sobre .flexivel {
        flex-direction: column;
    }

    .projetos {
        max-width: 350px;
        height: 250px;
        padding: 20px;
        margin-top: 20px;
    }

    .projetos i {
        font-size: 4rem;
    }

    .projetos h3 {
        font-size: 1.3rem;
        color: antiquewhite;
        margin: 15px 0;
    }

    .projetos p {
        text-align: center;
    }
    
    .img_port{
        /* max-width: 360px; */
        width: 280px;
    }
    
    .skills {
        padding: 0px 4%;
    }

    .skills .flexivel {
        padding: 10px 0%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
    }

    .skills h3 {
        font-size: 1rem;
    }

    .skills .projetos {
        min-width: 60px;
        max-width: 150px;
        max-height: 150px;
        padding: 10px;
    }

    .footer p {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 760px) {

    .menu_mobile {
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 67px;
        right: 0px;
        width: 50%;
        height: 100vh;
        backdrop-filter: blur(10px);
        display: none;
        box-shadow: 0 0 1px 3px rgba(250, 235, 215, 0.157);
        transition: 10.5s ease-in-out ease-in;
    }

    .menu_mobile a:hover {
        transition: .5s ease-in-out ease-in;
        background-color: aqua;
        transform: scale(1.05);
        color: black;
    }

    .logo_burguer p {
        font-size: 2.4rem;
    }

    .logo_burguer {
        display: block;
    }

    .logo {
        display: none;
    }

    /* Botão do menu hamburguer */
    .menu_hamburger_btn {
        width: 28px;
        height: 18px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px solid aqua;
        padding: 4px;
    }

    .menu_hamburger_btn {
        z-index: 15;
        position: relative;
    }

    .menu_hamburger_btn:hover {
        box-shadow: 0 0 10px 5px rgba(0, 255, 255, 0.367);
    }

    /* Linhas do botão hamburguer */
    .menu_hamburger_btn div {
        width: 100%;
        height: 2px;
        background-color: aqua;
        transition: all 0.3s ease;
    }

    .menu_hamburger_btn:hover {

        box-sizing: 0 0 10px 5px rgba(0, 255, 255, 0.367);
    }

    .menu_hamburger_btn.active .line-1 {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu_hamburger_btn.active .line-2 {
        opacity: 0;
    }

    .menu_hamburger_btn.active .line-3 {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    .menu_mobile.active {
        display: block;
    }

    .menu_mobile ul {
        display: block;
        text-align: center;
        padding-right: 12%;
    }

    .menu_mobile ul a {
        text-decoration: none;
        padding: 20px 12%;
        font-size: 1.3rem;
        cursor: pointer;
        display: block;
    }

    .menu_mobile ul li:hover {
        background-color: aqua;
    }

    header .interface {
        padding: 1px 10%;
        justify-content: space-between;
        display: flex;
        margin-top: -15px;
        padding-top: -20px;
    }

    .menu_desktop {
        display: none;
    }

    .btn_contatos button {
        display: none;
    }

    .interface {
        padding: 20px 8%;
        margin-top: 0px;
    }

    .flexivel {
        flex-direction: column;
    }

    .interface .titulo {
        text-align: center;
    }

    .corpo .interface {
        padding: 20px 8%;
    }

    .corpo h1 {
        text-align: center;
    }

    .corpo p {
        font-size: 1.3rem;
        text-align: center;
    }

    .redes__sociais span {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
    }

    .img_sobre img {
        max-width: 600px;
    }

    .projetos {
        max-width: 600px;
        height: 250px;
        padding: 30px 10px;
        margin-top: 20px;
    }

    .portfolio {
        max-width: 600px;
        min-width: 310px;
    }

    .skills .projetos {

        max-width: 250px;
        height: 250px;
        padding: 30px 10px;
        margin-top: 20px;
    }

    .projetos i {
        font-size: 5rem;
    }

    .projetos h3 {
        font-size: 1.3rem;
        color: antiquewhite;
        margin: 15px 0;
    }

    .projetos p {
        text-align: center;
    }
    

    .skills .flexivel {
        padding: 10px 0%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;

    }

    .footer .interface {
        padding: 0 6%;
    }


    .flexivel__contatos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    } 
}