main{  
    margin-top: 100px; 
 }
 
 .corpo{
     padding: 150px 4% 
 }
 
 .interface .flexivel{
     align-items: center;
     justify-content: center;
     gap: 90px;
 }
 .corpo .flexivel{
    gap: 10px;
    justify-content: space-between;  
 }
 .img_label{
    max-width: 300px;
 }
 .label h1{
     font-size: 3rem;
     text-align: left;
     color: var(--color-destaque);
 }
 
 .label strong{
     font-weight: 900;
     color: var(--color-strong);
 }
     
 .label p{
     color:var(--color-fonte-geral);
     font-size: 2rem;
     margin: 40px 0  ;
 }
 .redes__sociais a{
    display: inline;
    margin-right: 20px;
    padding-top: 20px;  
 }
 .redes__sociais i{
     font-size: 3rem;
     color: var(--color-strong);
 }
 .redes__sociais i:hover{
    transition: .5s ease-in-out ease-in;
    transform: scale(1.05);
    }

 .img_label img{
     border-radius: 10%;
     max-width: 300px; 
     position: relative;
     animation: flutuar 2s ease-in-out infinite alternate;
 }
 @keyframes flutuar {
     0%{
         top: 0;
     }
     100%{
         top: 30px;
     }
 }
 
 /* inicio da sessão sobre */
 .sobre {
     margin-top: 20px;
     padding: 40px 4%;
     display: flex;
     margin-bottom: 40px;   
 }
 
 .sobre .titulo{
     padding-bottom: 40px;
 }
 
 .sobre .flexivel {
     gap: 4%;  
 }
 
 .sobre .img_sobre img{
     border-radius: 40px; 
     width: 300px;
 }

 .sobre abbr{
     cursor: pointer;
     color: var(--color-strong);
     font-weight: 900;
 }
 
 .sobre .text_sobre h3{
     margin-bottom:  40px ;
     color: var(--color-destaque);
 }
 