/*  geral*/
*{
    margin: 0;
    padding: 0;
    
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;

}
body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width:1024px;
    margin: 0 auto;
    
}

.flexivel{
    display: flex;
}

.titulo{
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
}
.titulo strong{
    color: aqua;
}
/*  geral-  o atalho pra gerar um  comentario precione "CTRl" + ";"*/ 

header{
    padding: 40px 4%; /*  estou fazendo um espaço na margen superior de 40px e 4% das laterais*/
    margin: auto;
    align-items:center ;
}
.logo p{
    color: rgb(10, 247, 235);
    font-size: 3rem;
    display: flex;
}
/* alinhar os elementos de header */
 header .interface  {
    display: flex;
    align-items:center;
    justify-content:space-between;  
}
header a{
    display: inline-block;
}
 .menu_desktop li a{
    text-decoration: none;
    color: rgb(104, 103, 102);
    font-size: 1rem;
    margin: 0 20px;
    display: inline-block; 
    padding: 8px 13px;  
    border-radius: 25px;
}
.menu_desktop li a:hover{
    transition: .5s;
    background-color: aqua;
    transform: scale(1.05);
    color: black;
    font-weight: 900;
}
header ul{
    list-style: none;
    display: flex;
    
}
.btn_contatos button{
    font-size: 1.3rem;
    padding: 7PX 30PX;
    font-weight: 900;
    background-color: rgb(36, 37, 37);
    cursor: pointer;
    border-radius: 25PX;
    display: inline-block;
    color: aqua;
    border-color: aqua;
}

.btn_contatos button:hover{
    transition: .3s;
    background-color: aqua;
    transform: scale(1.05);
    color: black;
    
}
main{
    padding: 40px 4%;
    
}
.interface .flexivel{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.label h1{
    font-size: 3rem;
    text-align: left;
    color: rgb(207, 206, 206) ;
}
.label strong{
    font-weight: 900;
    color: aqua;
}
    
.label p{
    color:  rgb(104, 103, 102);
    font-size: 2rem;
    margin-top:40px ;
}
.img_label img{
    border-radius: 50%;
    width: 350px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}
@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }

}
/* bloco reservados a projetos */

.desenvolvimento{
    padding: 20px 4%;
    display: flex;
}

/* .desenvolvimento .flexivel{
    padding: 40px 4%;
} */
.projetos{
    max-width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.desenvolvimento .projetos{
   padding: 40px;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   border-radius: 25px;
}
.projetos:hover{
    box-shadow: 0 0 19px rgba(250, 235, 215, 0.363);
    transform: scale(1.05);
    transition: 0.5s;
}


.projetos i{
    font-size: 5rem;
    color: aqua;
}
.projetos h3{
    font-size: 2rem;
    margin: 15 0;
    margin: 15px 0;
}
.projetos p{
    text-align: center;

}