/*  geral*/
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    
    font-family: 'Courier New', Courier, monospace;
    color: rgb(104, 103, 102);

}
body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width:1224px;
    margin: 0 auto; 
}


.flexivel{
    display: flex;
}

.titulo{
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.titulo strong{
    color: aqua;
}

.projetos{
    max-width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 40px;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   border-radius: 25px;
}

.projetos:hover{
    box-shadow: 0 0 20px rgba(250, 235, 215, 0.363);
    transform: scale(1.05);
    transition: 0.5s ease-in-out ease-in;
}
/*  geral-  o atalho pra gerar um  comentario precione "CTRl" + ";"*/ 

header{
    padding: 40px 0%; /*  estou fazendo um espaço na margen superior de 40px e 4% das laterais*/
    margin: auto ;
    align-items:center;
    margin-bottom: 40px;
    background-color: black;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s ease; /* Suaviza o movimento do header */
}

.logo p{
    color: rgb(10, 247, 235);
    font-size: 3rem;
    display: flex;
    cursor:default;
}
/* alinhar os elementos de header */
 header .interface  {
    padding: 0px 4%;
    display: flex;
    align-items:center;
    justify-content:space-between;  
}
header a{
    display: inline-block;
}
.menu_desktop li a{
    text-decoration: none;
    color: rgb(104, 103, 102);
    font-size: 1rem;
    margin: 0 20px;
    display: inline-block; 
    padding: 8px 13px;  
    border-radius: 25px;
}
.menu_desktop li a:hover{
    transition: .5s ease-in-out ease-in;
    background-color: aqua;
    transform: scale(1.05);
    color: black;
    font-weight: 900;
}
header ul{
    list-style: none;
    display: flex;
    
}
.btn_contatos button{
    font-size: 1.3rem;
    padding: 7PX 30PX;
    font-weight: 900;
    background-color: rgb(36, 37, 37);
    cursor: pointer;
    border-radius: 25PX;
    display: inline-block;
    color: aqua;
    border-color: aqua;
}

.btn_contatos button:hover{
    transition: .3s ease-in-out ease-in;
    background-color: aqua;
    transform: scale(1.05);
    color: black;
    
}
main{
    
    margin-top: 100px;
    
}
.corpo{
    padding: 150px 4% 
}
.interface .flexivel{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.label h1{
    font-size: 3rem;
    text-align: left;
    color: rgb(207, 206, 206) ;
}
.label strong{
    font-weight: 900;
    color: aqua;
}
    
.label p{
    color:  rgb(104, 103, 102);
    font-size: 2rem;
    margin-top:40px ;
}
.img_label img{
    border-radius: 25%;
    width: 350px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}
@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }

}




/* inicio da sessão sobre */
.sobre {
    margin-top: 20px;
    padding: 40px 4%;
    display: flex;
    margin-bottom: 40px;
    
}
.sobre .titulo{
    padding-bottom: 40px;
}
.sobre .flexivel a{
    margin-top: 0px 8%;
    
}
.sobre .img_sobre img{
    border-radius: 40px;
    
}
.img_sobre{
    
    border-radius: 40px;
}
.sobre img:hover{
    box-shadow: 0 0 20px rgba(250, 235, 215, 0.363);
    transform: scale(1.01);
    transition: 0.5s ease-in-out ease-in;
}
.sobre abbr{
    cursor: pointer;
    color: aqua;
    font-weight: 900;
}

.sobre .text_sobre h3{
    margin-bottom:  40px ;
    color: antiquewhite;
}
/* final da sessão sobre */


/* inicio da sessão desenvolvimento */
.desenvolvimento{
    padding: 40px 4%;
    display: flex;
}




.projetos i{
    font-size: 5rem;
    color: aqua;
    
}
.projetos h3{
    font-size: 2rem;
    color: antiquewhite;
    margin: 15px 0;
}
.projetos p{
    text-align: center;
}
/* final da sessão desenvolvimento */
.oculta {
    
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 10.5s ease, opacity 10.5s ease; /* Suaviza a transição */
    justify-content: space-around;
    box-shadow: 0 0 40px 10px rgba(250, 235, 215, 0.203);
    padding: 80px 4%;
}

.oculta .interface{
    padding: o 4%;
}
.oculta {
    display: none;
}
.oculta .titulo{
    padding-bottom: 20px;
}
.oculta.show {
    max-height: 1300px; /* Define um valor grande o suficiente para conter o conteúdo */
    opacity: 1;
}

button.hide-btn {
    color:  rgba(250, 235, 215, 0.546);;
    background-color: black;
    cursor: pointer;
    margin-top: 90px;
}
button.hide-btn:hover {
    transition: .5s ease-in-out ease-in; 
    transform: scale(1.05);
    color:antiquewhite; 
}

.img_port{
    border: 10px;
    width: 360px;
    height: 260px;
    background-size: cover;
    background-position: 100% 0%;
    margin-top: 40px;
    border-radius: 40px;
    transition: 5s;
    /* cursor: pointer; */
    position: relative;
}
.img_port:hover{
    background-position: 100% 100%;
    transition:  5s ease-in-out ease-in;
    transform: scale(1.02);
}

.over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(49, 50, 50, 0.346);
    color:antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 1.5rem;
    opacity: 0;
}
.over:hover{
    opacity: 1;
    transition:  5s ease-in-out ease-in;
    transform: scale(1.02);
    box-shadow: 0 0 20px 10px rgba(250, 235, 215, 0.167);
}
.flexivel ul li{
   list-style: none;
}
.over:hover a{
    cursor: pointer;
    transform: scale(1.02);
    color: antiquewhite;
}
.icon a{
  text-decoration: none;
  color:  rgb(207, 206, 206);
  font-size: 1.1rem;
  padding: 10px;
}
.icon i{font-size: 1.5rem;
    padding: 10px;
}
.icon:hover{
    transition:  5s ease-in-out ease-in;
    transform: scale(1.02);
    color: antiquewhite;
    font-weight: 900;
}
/* inicio da sessão habilidades */
.skills{
    padding: 40px 4%;
   

}

.skills .flexivel{
    display: flex;
    margin: 0 px 4%;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
    
}

.skills h3{
    font-size: 1rem;
}

.skills .projetos{
    box-shadow: none;
}
/* inicio de seção footer */

.borda{
    border-top: 1 solid rgba(32, 16, 92, 0);
    padding: 0px 4%;

    
}
.footer{
    padding: 0 4%;
    box-shadow: 0 0 10px 10px rgba(237, 237, 237, 0.144);
}
footer .titulo{
    padding-top: 40px;
    
}
footer p{
    text-align: center;
    margin-top: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: .8rem;

}
.footer .flexivel{
    gap: 300px;
    justify-content: space-between ;
    
}
.esquerda{
    text-align: right;
}
@media screen and (max-width: 968px) {
    header{
        padding: 20px 0%; /*  estou fazendo um espaço na margen superior de 40px e 4% das laterais*/
       
    }
    .menu_desktop li a{  
        margin: 0 10px;   
    }
     .logo p{
        font-size:1.8rem ;
     }
     .btn_contatos button{
        font-size: 1rem;
        padding: 7PX 20PX;
    }
  
    .corpo{
        padding: 80px 4% 
    }
    .interface .flexivel{
        gap: 50px;
    }
    .label h1{
        font-size: 2rem;
    }     
    .label p{
        font-size: 1.5rem;
    }
    .sobre .flexivel{
        flex-direction: column;
    }
    .projetos{
        max-width: 200px;
        height: 250px;
        padding: 20px;
        margin-top: 20px;
    }
    .projetos i{
        font-size: 3rem; 
    }
    .projetos h3{
        font-size: 1.3rem;
        color: antiquewhite;
        margin: 15px 0;
    }
    .projetos p{
        text-align: center;
    }
    .skills{
        padding: 40px 4%;
       
    
    }
    .skills .flexivel{
        display: flex;
        height: 100px;
        gap: 30px;
        margin-bottom: 20px;
       flex-direction: row;
       grid-row: auto;
    }
    
    .skills h3{
        font-size: 1rem;
    }
    
}
@media screen and (max-width: 740px) {

    header{
        padding: 10px 0%;
    }
    .menu_desktop , .btn_contatos{
        display:none;
    }
    
    .logo p{
        font-size: 2rem;
    }
    .interface{ 
        max-width: 500 px;
        padding: 30px 8%;
        margin-top: 0px;
    }
    .corpo {
        padding: 30px 8%;
    }
    .flexivel{
        flex-direction: column;
    }
    
    .corpo .flexivel{
        flex-direction: column-reverse;
        gap: 45px;
    }
    /* .corpo{
        padding: 30px 0%;
    } */
    .corpo h1{
        font-size: 2rem;
        text-align: center;
    }
    .corpo p{
        font-size: 1.3rem;
        text-align: center;
    }
    .corpo img{
        width: 340px;
        
        
    }
    .interface .titulo{

        text-align: center;
    }
    
    .skills .projetos{
        .projetos{
            max-width: 200px;
            height: 250px;
            padding: 20px;
            margin-top: 20px;
        }
        .projetos i{
            font-size: 3rem; 
        }
        .projetos h3{
            font-size: 1.3rem;
            color: antiquewhite;
            margin: 15px 0;
        }
        .projetos p{
            text-align: center;
        }
    }
    .skills .flexivel {
        padding: 10px 0%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    }
    .footer .interface{
        padding: 0 8%;
    }  
    .footer .flexivel{
        gap: 80px;
        flex-direction: row;

    }
    .footer .icon a{
        font-size: .6rem;
    }
    .footer p {
        padding: 10px 0;
    }
    .img_port{
        border: 10%;
        width: 260px;
        height: 260px;
        background-size: cover;
        background-position: 100% 0%;
        margin-top: 20px;
        border-radius: 40px;
        transition: 5s;
        cursor: pointer;
        position: relative;
    }

    
 }