/*  geral*/
*{
    margin: 0;
    padding: 0;
    
    font-family: 'Courier New', Courier, monospace;
    color: rgb(104, 103, 102);

}
body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width:1224px;
    margin: 0 auto;
    
}

.flexivel{
    display: flex;
}

.titulo{
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.titulo strong{
    color: aqua;
}
/*  geral-  o atalho pra gerar um  comentario precione "CTRl" + ";"*/ 

header{
    padding: 40px 4%; /*  estou fazendo um espaço na margen superior de 40px e 4% das laterais*/
    margin: auto;
    align-items:center ;
}
.logo p{
    color: rgb(10, 247, 235);
    font-size: 3rem;
    display: flex;
}
/* alinhar os elementos de header */
 header .interface  {
    display: flex;
    align-items:center;
    justify-content:space-between;  
}
header a{
    display: inline-block;
}
 .menu_desktop li a{
    text-decoration: none;
    color: rgb(104, 103, 102);
    font-size: 1rem;
    margin: 0 20px;
    display: inline-block; 
    padding: 8px 13px;  
    border-radius: 25px;
}
.menu_desktop li a:hover{
    transition: .5s ease-in-out ease-in;
    background-color: aqua;
    transform: scale(1.05);
    color: black;
    font-weight: 900;
}
header ul{
    list-style: none;
    display: flex;
    
}
.btn_contatos button{
    font-size: 1.3rem;
    padding: 7PX 30PX;
    font-weight: 900;
    background-color: rgb(36, 37, 37);
    cursor: pointer;
    border-radius: 25PX;
    display: inline-block;
    color: aqua;
    border-color: aqua;
}

.btn_contatos button:hover{
    transition: .3s ease-in-out ease-in;
    background-color: aqua;
    transform: scale(1.05);
    color: black;
    
}
main{
    padding: 40px 4%;
    
}
.interface .flexivel{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.label h1{
    font-size: 3rem;
    text-align: left;
    color: rgb(207, 206, 206) ;
}
.label strong{
    font-weight: 900;
    color: aqua;
}
    
.label p{
    color:  rgb(104, 103, 102);
    font-size: 2rem;
    margin-top:40px ;
}
.img_label img{
    border-radius: 25%;
    width: 350px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}
@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }

}
/* bloco reservados a projetos */

.desenvolvimento{
    padding: 20px 4%;
    display: flex;
}

/* .desenvolvimento .flexivel{
    padding: 40px 4%;
} */
.projetos{
    max-width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
}
.desenvolvimento .projetos{
   padding: 40px;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   border-radius: 25px;
}
.projetos:hover{
    box-shadow: 0 0 20px rgba(250, 235, 215, 0.363);
    transform: scale(1.05);
    transition: 0.5s ease-in-out ease-in;
}


.projetos i{
    font-size: 5rem;
    color: aqua;
    
}
.projetos h3{
    font-size: 2rem;
    color: antiquewhite;
    margin: 15px 0;
}
.projetos p{
    text-align: center;

}
.sobre {
    padding: 20px 4%;
    display: flex;
    margin-bottom: 40px;
    
}
.sobre.titulo{
    margin-bottom: 20px;
}
.sobre .flexivel{
    margin-top: 40px;
    
}
.sobre .img_sobre img{
    border-radius: 40px;
    
}
.img_sobre{
    
    border-radius: 40px;
}
.sobre img:hover{
    box-shadow: 0 0 20px rgba(250, 235, 215, 0.363);
    transform: scale(1.01);
    transition: 0.5s ease-in-out ease-in;
}
.sobre abbr{
    cursor: pointer;
    color: aqua;
    font-weight: 900;
}

.sobre .text_sobre h3{
    margin-bottom:  40px ;
    color: antiquewhite;
}

.deploy{
    justify-content: space-around;
    
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(250, 235, 215, 0.167);
}
.deploy .titulo{
    padding-top: -80px;
}
.img_port{
    width: 360px;
    height: 260px;
    background-size: cover;
    background-position: 100% 0%;
    margin-top: 40px;
    border-radius: 40px;
    transition: 5s;
    cursor: pointer;
    position: relative;
}
.img_port:hover{
    background-position: 100% 100%;
    transition:  5s ease-in-out ease-in;
    transform: scale(1.05);
}
.over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(49, 50, 50, 0.346);
    color:antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 1.5rem;
    opacity: 0;
}
.over:hover{
    opacity: 1;
    transition:  5s ease-in-out ease-in;
    transform: scale(1.02);
    box-shadow: 0 0 20px 10px rgba(250, 235, 215, 0.167);
}
.flexivel ul li{
   list-style: none;
}

.icon a{
  text-decoration: none;
  color:  rgb(207, 206, 206);
  font-size: 1.1rem;
  padding: 10px;
}
.icon i{font-size: 1.5rem;
    padding: 10px;
}
.icon:hover{
    transition:  5s ease-in-out ease-in;
    transform: scale(1.02);
    color: antiquewhite;
    font-weight: 900;
}
footer p{
    text-align: center;
    margin-top: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: .8rem;

}